<h1>Scripts</h1>

<%= form_tag scripts_path, class: 'form form-inline' do %>
  <%= text_field_tag :filename %>
  <%= submit_tag "Create", class: 'btn btn-success' %>
<% end %>

<div class="script-list">
<% Script.list.each do |script| %>
  <span class="label"><%= link_to script, edit_scripts_path(script: script) %></span>
<% end %>
</div>

