<li <% if hubot.id == current_hubot_id %>class="active"<% end %>>
  <%= link_to hubot do %>
    <% if hubot.running? %>
      <i class="icon-ok-sign"></i>
    <% else %>
      <i class="icon-remove-sign"></i>
    <% end %>
    <%= hubot.name %>
  <% end %>
</li>
