<% base_dir = nil unless defined?(base_dir) %>
<% select_id = "scripts-#{rand(0...10000)}" %>

<div class="row-fluid">
  <div class="span12 well">
    <%= select_tag :include_script, script_options_for_select(scripts, base_dir), id: select_id %>

    <%= link_to  '#', class: 'btn include-script', data: { target: target, source: select_id } do %>
      <i class="icon-plus"></i>
    <% end %>
  </div>
</div>
