<h1>Reassembling: <%= @hubot.name %></h1>
<%= form_for @hubot, html: { class: 'form' } do |f| %>
  <fieldset>
    <%= render 'hubot_fields', f: f %>
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  </fieldset>
<% end %>
