<h1>Ready to build one?</h1>
<div class="row-fluid">
  <%= form_for @hubot, html: { class: 'form form-inline' } do |f| %>
    <%= render 'hubot_fields', f: f %>
    <div class="form-actions">
      <%= f.submit 'Create', class: 'btn btn-primary js-loader', data: { 'loading-text' => 'Building Hubot, please wait...' } %>
    </div>
  <% end %>
</div>
