// Place all the styles related to the hubots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.raw-log {
  font-family: monospace;
  font-size: 0.8em;
  height: 300px;
}
.chat {
  #output {
    font-family: 'Monaco', 'Courier New', 'monospace';
    font-size: 0.8em;
    height: 300px;
  }
}

